.button {
  display: block;
  border: none;
  font-family: Oswald, Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: $white;
  text-transform: uppercase;
  background-color: $basic-green;

  &:hover,
  &:active {
    background-color: $dark-green;
  }

  &:active {
    color: rgb($white, 0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}
