.contacts p {
  margin: 0;
}

.contacts__wrap {
  padding: 26px 20px;
}

.contacts__heading {
  font-family: Oswald, Arial, sans-serif;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
  color: $special-dark-gray;
  font-style: normal;
}

.contacts__img {
  display: block;
}
