.example__wrap {
  margin: 0 auto;

  @media (max-width: $mobile-width) {
    max-width: 500px;
  }

  @media (min-width: $tablet-width) {
    max-width: 940px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 436px 591px;
    justify-content: space-between;
    max-width: 1220px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 83px;
    margin-bottom: 69px;
  }
}

.example__numbers-wrap {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 850px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 3 / 5;
    margin-bottom: 0;
  }
}

.example__list {
  margin: 0;

  @media (max-width: $mobile-width) {
    display: grid;
    grid-template-columns: repeat(2, 124px);
    justify-content: space-between;
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 34px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 162px);
    justify-content: space-between;
    width: 366px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.example__item {
  position: relative;
  text-align: center;
}

.example__number {
  padding-top: 15px;
  padding-bottom: 17px;
  border: 1px solid $special-grey;
  border-radius: 3px;

  font-family: Oswald, Arial, sans-serif;
  font-size: 24px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__desc {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -16px;
  margin: 0;
  padding: 0 16px;

  font-size: 12px;
  line-height: 1;
  background-color: $basic-grey-3;

  @media (min-width: $tablet-width) {
    width: max-content;
    bottom: -6px;
    padding: 0 10px;
    font-size: 14px;
    background-color: $white;

    br {
      display: none;
    }

    @media (min-width: $desktop-width) {
      background-color: $basic-grey-3;
    }
  }
}

.example__cost {
  margin: 0;
  font-family: Oswald, Arial, sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: grid;
    gap: 9px;
    font-size: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }
}

.example__images {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    width: 592px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / 4;
    grid-column: 2 / 3;
    margin-bottom: 0;
  }
}

.example-img {
  &--skinny {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 592px;
  }
}

.example__switcher {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
  }
}
