.extra-products {
  max-width: 500px;
  padding: 25px 20px 35px;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    max-width: 950px;
    padding: 68px 30px 76px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1280px;
  }
}

.extra-products__title {
  margin: 0;
  margin-bottom: 36px;

  font-family: Oswald, Arial, sans-serif;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;

  & span {
    position: relative;
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 22px;
    background-color: $white;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 14px;
    height: 2px;
    background-color: $basic-green;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 1;

    & span {
      margin-left: 0;
      padding-left: 37px;
      padding-right: 36px;
    }

    &::before {
      margin-top: 22px;
    }
  }

  @media (min-width: $desktop-width) {
    & span {
      margin-left: -40px;
      padding-left: 40px;
      padding-right: 35px;
    }
    }
}

.extra-products__wrap {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.extra-products__list {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    margin-bottom: 0;
  }
}

.extra-products__item {
  padding-top: 13px;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 0 17px;
  }
}
