.field {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 13px;

  & .field__icon {
    position: absolute;
    right: 15px;
  }
}

.field__label,
.field__input,
.field__input::placeholder {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.1;
  text-transform: uppercase;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}

.field__label {
  min-width: auto;
  max-width: 125px;
  word-wrap: break-word;

  @media (min-width: $tablet-width) {
    min-width: auto;
    max-width: 280px;
  }
}

.field__input {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid $light-grey;
  cursor: pointer;

  .form__group--owner-contacts & {
    padding-right: 40px;
  }

  &:hover {
    border-color: $special-grey-2;
  }

  &:active,
  &:focus {
    border-color: $special-dark-grey;
  }

  &:focus + .field__icon {
    stroke: $basic-green;
    fill: $basic-green;
  }
}
