.form {
  padding-bottom: 32px;
}

.form__group {
  border: none;

  &-personal {
    padding: 20px 20px 24px;

    @media (min-width: $tablet-width) {
      max-width: 630px;
      padding: 0;
    }
  }

  &-program {
    margin-bottom: 26px;
    padding: 22px 20px 19px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
      padding: 25px 28px;
      border: 1px solid $light-grey;
    }
  }

  &-owner-contacts {
    margin-bottom: 24px;
    padding: 0 20px;
  }

  &-comments {
    margin-bottom: 23px;
    padding: 0 20px;
  }

  &-additional {
    margin-bottom: 34px;
    padding: 0 20px;
  }
}

.form__wrap {
  max-width: 540px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: grid;
    max-width: 630px;
    row-gap: 70px;
    margin: 0 auto;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 569px 568px;
    min-width: 1220px;
    column-gap: 80px;
  }
}

.form__button {
  margin: 0 20px 21px;
}

.form__required-text {
  margin: 0;

  line-height: 16px;
  text-align: center;
}
