.logo {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  text-align: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    column-gap: 12px;

    .page-footer & {
      display: block;
    }
  }
}

.logo__image {
  display: block;
  width: 33px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 60px;
  }
}

.logo__name {
  justify-self: center;
  width: 101px;
  height: 18px;

  .page-footer & {
    display: block;
    width: 128px;
    height: 24px;
  }
}
