.logo {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  text-align: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    column-gap: 12px;
  }
}

.logo__name {
  justify-self: center;
  width: 101px;
  height: 18px;
}
