.page-header__nav {
  margin: 0 auto;

  @media (max-width: $mobile-width) {
    max-width: 500px;
    padding: 10px 20px 17px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 17px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 53px 0 29px;

    &::before {
      display: block;
      position: absolute;
      right: 0;
      top: 0;

      width: 720px;
      height: 688px;
      background-color: #7ec157;
      background-image: url("../img/background/promo-bg-desktop.jpg");
      content: "";
    }
  }

  &--bg-none {
    @media (min-width: $desktop-width) {
      &::before {
        display: none;
      }
    }
  }
}

@media (min-width: $desktop-width) {

}

.page-header__wrap {
  display: grid;
  grid-template-columns: 1fr 34px;
}

.page-header__logo {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  width: 100%;
  text-align: center;
}

.logo__name {
  justify-self: center;
}

.page-header__toggle {
  margin-left: 50%;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.site-menu {
  @media (max-width: $mobile-width) {
    display: none;
  }
}
