.page {
  background-color: lightgrey;
}

.page__body {
  width: 320px;
  margin: 0 auto;

  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  color: $black;
  background-color: $white;
}
