.page-main__header {
  @media (min-width: $tablet-width) {
    margin-bottom: 505px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.page-main__process {
  margin: 0 auto;
}

.page-main__footer {
  &--dark {
    background-color: $basic-gray;
  }
}

.page-main__title {
  margin: 0;
  margin-top: 27px;
  margin-left: 20px;
  margin-bottom: 41px;

  font-family: Oswald, Arial, sans-serif;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
}

.page-main__subtitle {
  margin: 0 20px 20px;

  font-family: Oswald, Arial, sans-serif;
  text-transform: uppercase;
}

.page-main__heading {
  margin: 0;
  margin-bottom: 40px;

  font-family: Oswald, Arial, sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 1;
  }

  &--example-height {
    @media (min-width: $desktop-width) {
      margin-top: 43px;;
    }
  }
}
