.page-main__header {
  margin-bottom: 20px;
}

.page-main__section {
  margin: 0;
  margin-bottom: 20px;
}

.page-main__heading {
  margin: 0;
  margin-bottom: 40px;

  font-family: Oswald, Arial, sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}
