.page-main__header {
  @media (min-width: $tablet-width) {
    margin-bottom: 505px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.page-main__form-header {
  @media (min-width: 540px) {
    margin: 0 auto;
    width: 496px;
  }

  @media (min-width: $tablet-width) {
    width: 626px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.page-main__section {
  margin: 0 auto;
}

.page-main__example {
  padding: 25px 20px 40px;

  &--bg {
    background-color: $basic-grey;
  }

  @media (min-width: $tablet-width) {
    padding: 43px 33px 40px;

    &--bg {
      background-image: linear-gradient(to top, #eaeaea 40%, $white 40%);
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-bottom: 75px;

    &--bg {
      background-image: linear-gradient(to top, #eaeaea 70%, $white 60%);
    }
  }
}

.page-main__footer {
  &--dark {
    background-color: $basic-grey;
  }
}

.page-main__title {
  max-width: 280px;
  margin: 27px auto 41px;

  font-family: Oswald, Arial, sans-serif;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    max-width: 708px;
    margin: 65px auto 82px;
    font-size: 60px;
    line-height: 1;
  }

  @media (min-width: 1152px) {
    max-width: 1092px;
  }
}

.page-main__form-title {
  margin: 27px 20px 37px;

  font-family: Oswald, Arial, sans-serif;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;

  @media (min-width: 540px) {
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 65px 0 55px;
    font-size: 60px;
    line-height: 1;
  }
}

.page-main__subtitle {
  margin: 0 20px 40px;

  font-family: Oswald, Arial, sans-serif;
  text-transform: uppercase;

  @media (min-width: 540px) {
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
    font-size: 20px;
    line-height: 30px;
  }
}

.page-main__heading {
  margin: 0;
  margin-bottom: 40px;

  font-family: Oswald, Arial, sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 1;
  }

  &--example-height {
    @media (min-width: $desktop-width) {
      margin-top: 43px;;
    }
  }
}
