.page__body {
  min-height: 100%;
  margin: 0 auto;

  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  color: $black;
  background-color: $white;
}

.page__footer {
  padding: 39px 20px 22px;

  @media (min-width: $tablet-width) {
    padding: 58px 30px 55px;
  }
}
