.product-card {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  max-width: 320px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 324px;

    padding: 0 37px 39px 39px;
    background-color: $basic-gray;
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
  }
}

.product-card__name {
  width: 76px;
  margin: 0;
  margin-bottom: 18px;

  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 130px;
    margin-top: 161px;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.product-card__img {
  grid-row: 1 / 3;
  order: -1;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -30px;
    height: 101px;
    margin-bottom: 34px;
  }
}

.product-card__info-list {
  margin: 0;

  font-size: 12px;
  line-height: 16px;
  color: $special-dark-gray;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
    font-size: 16px;
    line-height: 1;
  }
}

.product-card__button {
  grid-column: 1 / -1;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
