.show-all {
  position: relative;
  max-width: 460px;
  text-align: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 34px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 30px;
    height: 2px;
    background-color: $special-grey-3;
  }

  &::after {
    transform: rotate(90deg);
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    min-width: 324px;
    padding: 0 37px 39px 39px;
    border: 2px solid $basic-grey;

    &::before,
    &::after {
      width: 60px;
      top: 83px;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
  }
}

.show-all__name {
  margin: 53px 0 8px;

  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: 660px) {
    margin-top: 63px;
  }

  @media (min-width: $tablet-width) {
    width: 134px;
    margin: 161px 0 23px;
    font-size: 20px;
    line-height: 22px;
  }
}

.show-all__text {
  margin: 0;
  margin-bottom: 21px;

  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    width: 167px;
    margin-bottom: 87px;
    font-size: 16px;
    line-height: 18px;
  }
}

.show-all__button {
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  color: $special-dark-grey;
  background-color: $basic-grey;

  &:hover,
  &:active {
    background-color: $basic-grey-2;
  }

  &:active {
    color: rgb($special-dark-grey, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
