.socials {
  display: flex;
  flex-wrap: wrap;
  min-width: 130px;
  max-width: 224px;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    max-width: 350px;
  }

  @media (min-width: $desktop-width) {
    max-width: 590px;
  }
}

.socials__item {
  margin-right: 36px;
  margin-bottom: 15px;

  @media (max-width: $mobile-width) {
    &:last-child,
    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  @media (min-width: $tablet-width) {
    &:last-child,
    &:nth-child(5n) {
      margin-right: 0;
    }
  }
}

.socials__link {
  display: block;
  width: 28px;
  height: 20px;

  &:hover .socials__link-icon {
    fill: $basic-green;
  }

  &--fb:hover .socials__link-icon {
    fill: none;
    stroke: $basic-green;
  }

  &:active .socials__link-icon {
    fill: rgb($basic-green, 0.3);
  }

  &--fb:active .socials__link-icon {
    fill: none;
    stroke: rgb($basic-green, 0.3);
  }
}
