@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/oswaldregular.woff2") format("woff2"), url("/fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/oswaldmedium.woff2") format("woff2"), url("/fonts/oswaldmedium.woff") format("woff");
  font-display: swap;
}
.page__body {
  min-height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.page__footer {
  padding: 39px 20px 22px;
}
@media (min-width: 768px) {
  .page__footer {
    padding: 58px 30px 55px;
  }
}

.visually-hidden {
  position: absolute;
  transform: scale(0);
}

@media (min-width: 1320px) {
  .page-header {
    position: relative;
    max-width: 1440px;
  }
  .page-header::before {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 720px;
    height: 688px;
    background-color: #7ec157;
    background-image: url("../img/background/promo-bg-desktop.jpg");
    content: "";
  }
}

.page-header__nav {
  margin: 0 auto;
}
@media (max-width: 767px) {
  .page-header__nav {
    max-width: 500px;
  }
}
@media (min-width: 768px) {
  .page-header__nav {
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    padding: 24px 30px 0;
  }
}
@media (min-width: 1320px) {
  .page-header__nav {
    max-width: 1220px;
    padding: 53px 0 29px;
  }
}
@media (min-width: 1320px) {
  .page-header__nav--no-bg::before {
    display: none;
  }
}

.page-header__wrap {
  display: grid;
  grid-template-columns: 1fr 24px;
  align-items: center;
  padding: 10px 20px 17px;
}
@media (min-width: 768px) {
  .page-header__wrap {
    align-items: start;
    padding: 0;
  }
}

.page-header__toggle {
  position: relative;
  width: 24px;
  height: 18px;
  padding: 0;
  background-color: #ffffff;
  border: none;
}
@media (min-width: 768px) {
  .page-header__toggle {
    display: none;
  }
}

.page-header__nav--closed .page-header__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px #000000, 0 16px #000000;
}

.page-header__nav--opened .page-header__toggle::before, .page-header__nav--opened .page-header__toggle::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
}
.page-header__nav--opened .page-header__toggle::before {
  transform: rotate(45deg);
}
.page-header__nav--opened .page-header__toggle::after {
  transform: rotate(-45deg);
}

.page-header__nav--nojs .page-header__toggle {
  display: none;
}

.logo {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  text-align: center;
}
.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .logo {
    column-gap: 12px;
  }
}

.logo__name {
  justify-self: center;
  width: 101px;
  height: 18px;
}

.site-menu {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  list-style-type: none;
  z-index: 1;
  font-family: Oswald, Arial, sans-serif;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .site-menu {
    position: absolute;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .site-menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 75%;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
}
@media (min-width: 1320px) {
  .site-menu {
    width: 580px;
    background-color: transparent;
  }
}

.page-header__nav--closed .site-menu {
  display: none;
}

@media (max-width: 767px) {
  .page-header__nav--nojs .site-menu {
    position: static;
    display: block;
  }
}
.site-menu__item {
  position: relative;
  padding: 22px 24px;
  border-top: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .site-menu__item {
    margin-left: 34px;
    padding: 10px 0;
    border-top: none;
  }
  .site-menu__item--current::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: #68B738;
  }
}
@media (min-width: 1320px) {
  .site-menu__item--current::before {
    background-color: #ffffff;
  }
}

.site-menu__link {
  color: #000000;
}
.site-menu__link[href]:hover {
  color: rgba(0, 0, 0, 0.6);
}
.site-menu__link[href]:active {
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 1320px) {
  .site-menu__link--index-color {
    color: #ffffff;
  }
  .site-menu__link--index-color[href]:hover {
    color: rgba(255, 255, 255, 0.6);
  }
  .site-menu__link--index-color[href]:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: 768px) {
  .page-main__header {
    margin-bottom: 505px;
  }
}
@media (min-width: 1320px) {
  .page-main__header {
    margin: 0 auto;
  }
}

.page-main__section {
  margin: 0 auto;
}

.page-main__footer--dark {
  background-color: #f2f2f2;
}

.page-main__title {
  margin: 27px 20px 41px;
  font-family: Oswald, Arial, sans-serif;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
}
@media (min-width: 768px) {
  .page-main__title {
    margin: 65px 30px 155px;
    font-size: 60px;
    line-height: 1;
  }
}

.page-main__form-title {
  margin: 27px 20px 37px;
  font-family: Oswald, Arial, sans-serif;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
}
@media (min-width: 768px) {
  .page-main__form-title {
    margin: 65px 70px 55px;
    font-size: 60px;
    line-height: 1;
  }
}
@media (min-width: 1320px) {
  .page-main__form-title {
    margin-left: 110px;
  }
}

.page-main__subtitle {
  margin: 0 20px 40px;
  font-family: Oswald, Arial, sans-serif;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .page-main__subtitle {
    margin: 0 70px 65px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1320px) {
  .page-main__subtitle {
    margin-left: 110px;
  }
}

.page-main__heading {
  margin: 0;
  margin-bottom: 40px;
  font-family: Oswald, Arial, sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .page-main__heading {
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 1;
  }
}
@media (min-width: 1320px) {
  .page-main__heading--example-height {
    margin-top: 43px;
  }
}

.promo {
  position: relative;
  padding: 27px 20px 0;
  font-family: Oswald, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  background-image: url("../img/background/promo-bg-mobile.jpg"), linear-gradient(to bottom, #7ec157 60%, #ffffff 50%);
  background-repeat: repeat-x;
  background-position: top center;
}
@media (min-width: 768px) {
  .promo {
    padding: 62px 117px 0;
    color: #000000;
    text-align: left;
    background-image: none;
    z-index: 1;
  }
}
@media (min-width: 1320px) {
  .promo {
    width: 1220px;
    padding-bottom: 185px;
  }
}

.promo__heading {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 36px;
}
@media (min-width: 768px) {
  .promo__heading {
    margin-bottom: 41px;
    font-size: 60px;
  }
}

.promo__text {
  margin: 0;
  margin-bottom: 29px;
  font-size: 14px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .promo__text {
    margin-bottom: 49px;
    font-size: 20px;
  }
}
@media (min-width: 1320px) {
  .promo__text {
    margin-bottom: 52px;
  }
}

@media (min-width: 768px) {
  .promo__img {
    position: absolute;
    left: 270px;
    bottom: -370px;
    transform: scale(220%);
    z-index: -1;
  }
}
@media (min-width: 1320px) {
  .promo__img {
    top: 100px;
    left: 600px;
    transform: scale(185%);
  }
}

@media (max-width: 767px) {
  .promo__button {
    max-width: 500px;
    margin: 0 auto;
    padding: 13px 25px;
  }
}
@media (min-width: 768px) {
  .promo__button {
    width: 244px;
    padding: 17px 25px;
  }
}

.button {
  display: block;
  border: none;
  font-family: Oswald, Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #68B738;
}
.button:hover, .button:active {
  background-color: #5eaa2f;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .button {
    font-size: 20px;
  }
}

.catalog-sections {
  margin: 0 auto;
}
@media (max-width: 767px) {
  .catalog-sections {
    max-width: 540px;
    padding: 20px;
  }
}
@media (min-width: 768px) {
  .catalog-sections {
    padding: 45px 30px;
  }
}
@media (min-width: 1320px) {
  .catalog-sections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    width: 1220px;
    padding: 82px 0 71px;
  }
}

.catalog-sections__block:not(:last-child) {
  margin-bottom: 20px;
}
@media (min-width: 1320px) {
  .catalog-sections__block:not(:last-child) {
    margin-bottom: 0;
  }
}

.catalog-block {
  margin: 0 auto;
  padding: 30px 22px 18px;
  background-color: #f2f2f2;
}
.catalog-block--slim {
  background-image: url("../img/decorative/weight-loss.svg");
  background-repeat: no-repeat;
}
.catalog-block--pro {
  background-image: url("../img/decorative/weight-gain.svg");
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .catalog-block--slim {
    background-size: 50px 53px;
    background-position: top 22px left 21px;
  }
  .catalog-block--pro {
    background-size: 67px 50px;
    background-position: 13px 24px;
  }
}
@media (min-width: 768px) {
  .catalog-block {
    max-width: 945px;
    padding: 77px 264px 53px 53px;
  }
  .catalog-block--slim {
    background-size: 200px 200px;
    background-position: center right 62px;
  }
  .catalog-block--pro {
    background-size: 268px 200px;
    background-position: center right 28px;
  }
}
@media (min-width: 1320px) {
  .catalog-block {
    width: 570px;
    padding: 77px 52px 59px;
  }
  .catalog-block--slim {
    background-size: 100px 106px;
    background-position: top 41px left 52px;
  }
  .catalog-block--pro {
    background-size: 134px 100px;
    background-position: top 47px left 33px;
  }
}

.catalog-block__heading {
  margin: 0;
  margin-bottom: 29px;
  padding-left: 69px;
  font-family: Oswald, Arial, sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog-block__heading {
    padding-left: 0;
    font-size: 36px;
    line-height: 1;
  }
}
@media (min-width: 1320px) {
  .catalog-block__heading {
    margin-bottom: 73px;
    padding-left: 162px;
  }
}

.catalog-block__text {
  margin-bottom: 16px;
  padding-bottom: 23px;
}
@media (max-width: 767px) {
  .catalog-block__text {
    border-bottom: 1px solid #d9d9d9;
  }
}
@media (min-width: 768px) {
  .catalog-block__text {
    margin-right: 54px;
    margin-bottom: 48px;
    padding-bottom: 0;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1320px) {
  .catalog-block__text {
    margin-right: 0;
    margin-bottom: 23px;
  }
}

.catalog-block__link {
  position: relative;
  padding-right: 50px;
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}
.catalog-block__link::before {
  content: "";
  position: absolute;
  top: 11px;
  right: 18px;
  display: block;
  width: 18px;
  height: 2px;
  background-color: #000000;
}
@media (min-width: 768px) {
  .catalog-block__link::before {
    top: 15px;
  }
}
.catalog-block__link:hover::before, .catalog-block__link:active::before {
  width: 26px;
  right: 10px;
}
.catalog-block__link::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 6px;
  display: block;
  width: 0;
  height: 0;
  border-left: 7px solid #000000;
  border-right: 7px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}
@media (min-width: 768px) {
  .catalog-block__link::after {
    top: 10px;
  }
}
.catalog-block__link:hover::after, .catalog-block__link:active::after {
  right: -2px;
}
.catalog-block__link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .catalog-block__link {
    font-size: 20px;
  }
}

.process {
  max-width: 540px;
  padding: 0 20px 49px;
}
@media (min-width: 768px) {
  .process {
    max-width: 945px;
    padding: 0 30px 47px;
    border-bottom: 1px solid #e6e6e6;
  }
}
@media (min-width: 1320px) {
  .process {
    max-width: 1220px;
    padding: 0 0 47px;
    border-bottom: none;
  }
}

.process__list {
  margin: 0;
  padding: 0;
  color: #444444;
  list-style-type: none;
}
@media (min-width: 768px) {
  .process__list {
    display: grid;
    grid-template-columns: repeat(2, 230px);
    gap: 37px 153px;
    max-width: 685px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    counter-reset: process;
  }
}
@media (min-width: 1320px) {
  .process__list {
    grid-template-columns: repeat(4, 230px);
    gap: 100px;
    max-width: 100%;
    margin: 0;
  }
}

.process__item {
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;
  background-repeat: no-repeat;
  background-size: 60px 60px;
}
.process__item:last-child {
  margin-bottom: 0;
}
.process__item--leaf {
  background-image: url("../img/decorative/leaf.svg");
}
.process__item--powder {
  background-image: url("../img/decorative/glass.svg");
}
.process__item--meal {
  background-image: url("../img/decorative/cutlery.svg");
}
.process__item--weight {
  background-image: url("../img/decorative/scales.svg");
}
@media (min-width: 768px) {
  .process__item {
    position: relative;
    width: 230px;
    margin-bottom: 0;
    padding: 111px 0 57px;
    background-size: 80px 80px;
    counter-increment: process;
  }
  .process__item::before {
    content: counter(process);
    position: absolute;
    top: -40px;
    right: 0;
    z-index: -1;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 280px;
    line-height: 1;
    color: #f2f2f2;
  }
}

@media (max-width: 767px) {
  .example {
    padding: 25px 20px 40px;
    background-color: #f2f2f2;
  }
}
@media (min-width: 768px) {
  .example {
    padding: 43px 33px 40px;
    background-image: linear-gradient(to top, #eaeaea 40%, #ffffff 40%);
  }
}
@media (min-width: 1320px) {
  .example {
    padding: 0;
    padding-bottom: 75px;
    background-image: linear-gradient(to top, #eaeaea 70%, #ffffff 60%);
  }
}

.example__wrap {
  margin: 0 auto;
}
@media (max-width: 767px) {
  .example__wrap {
    max-width: 500px;
  }
}
@media (min-width: 768px) {
  .example__wrap {
    max-width: 940px;
  }
}
@media (min-width: 1320px) {
  .example__wrap {
    display: grid;
    grid-template-columns: 436px 591px;
    justify-content: space-between;
    max-width: 1220px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .example__text {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1320px) {
  .example__text {
    margin-top: 83px;
    margin-bottom: 69px;
  }
}

@media (min-width: 768px) {
  .example__numbers-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 850px;
    margin-bottom: 80px;
  }
}
@media (min-width: 1320px) {
  .example__numbers-wrap {
    grid-row: 3/5;
    margin-bottom: 0;
  }
}

.example__list {
  margin: 0;
}
@media (max-width: 767px) {
  .example__list {
    display: grid;
    grid-template-columns: repeat(2, 124px);
    justify-content: space-between;
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .example__list {
    display: grid;
    grid-template-columns: repeat(2, 162px);
    justify-content: space-between;
    width: 366px;
  }
}
@media (min-width: 1320px) {
  .example__list {
    margin-bottom: 55px;
  }
}

.example__item {
  text-align: center;
}

.example__number {
  font-family: Oswald, Arial, sans-serif;
  font-size: 24px;
  line-height: 1;
}
@media (min-width: 768px) {
  .example__number {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__desc {
  margin: 0;
  font-size: 12px;
  line-height: 1;
}
@media (min-width: 768px) {
  .example__desc {
    font-size: 14px;
  }
}

.example__cost {
  margin: 0;
  font-family: Oswald, Arial, sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .example__cost {
    display: grid;
    font-size: 20px;
    text-align: right;
  }
}
@media (min-width: 1320px) {
  .example__cost {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }
}

.example__images {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 15px;
}
@media (min-width: 1320px) {
  .example__images {
    grid-row: 1/4;
    grid-column: 2/3;
    margin-bottom: 0;
  }
}

.example__switcher {
  margin: 0 auto;
}
@media (min-width: 1320px) {
  .example__switcher {
    grid-column: 2/3;
  }
}

.switcher {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .switcher {
    width: 210px;
  }
}
@media (min-width: 768px) {
  .switcher {
    width: 591px;
  }
}

@media (min-width: 1320px) {
  .contacts {
    display: grid;
    grid-template-columns: 110px 565px 1fr;
    grid-template-rows: 95px auto 107px;
  }
}

.contacts__wrap {
  display: flex;
  justify-content: space-between;
  max-width: 540px;
  margin: 0 auto;
  padding: 26px 20px;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .contacts__wrap {
    max-width: 768px;
    padding: 60px 70px 56px;
  }
}
@media (min-width: 1320px) {
  .contacts__wrap {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 565px;
    padding: 56px 80px;
    background-color: #ffffff;
    z-index: 1;
  }
}

.contacts__heading {
  font-family: Oswald, Arial, sans-serif;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .contacts__heading {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  font-style: normal;
}
@media (min-width: 768px) {
  .contacts__address {
    display: grid;
    align-content: space-between;
    font-size: 16px;
    text-align: right;
  }
}
@media (min-width: 1320px) {
  .contacts__address {
    width: 565px;
  }
}

.contacts p {
  margin: 0;
}

.contacts__img {
  display: block;
}
@media (min-width: 1320px) {
  .contacts__img {
    grid-column: 1/-1;
  }
}

.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 25px 20px;
  justify-content: center;
  margin: 0;
  padding: 20px 20px 25px;
  list-style-type: none;
}
@media (min-width: 768px) {
  .products__list {
    grid-template-columns: repeat(auto-fit, 324px);
    gap: 133px 60px;
    padding: 0 30px;
  }
}
@media (min-width: 1320px) {
  .products__list {
    grid-template-columns: repeat(auto-fit, 245px);
    gap: 133px 80px;
  }
}

.products__item {
  margin: 0 auto;
}

.product-card {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  max-width: 320px;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 324px;
    padding: 0 37px 39px 39px;
    background-color: #f2f2f2;
  }
}
@media (min-width: 1320px) {
  .product-card {
    min-width: 245px;
  }
}

.product-card__name {
  width: 76px;
  margin: 0;
  margin-bottom: 18px;
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .product-card__name {
    width: 130px;
    margin-top: 161px;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.product-card__img {
  grid-row: 1/3;
  order: -1;
}
@media (min-width: 768px) {
  .product-card__img {
    position: absolute;
    top: -30px;
    height: 101px;
    margin-bottom: 34px;
  }
}

.product-card__info-list {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .product-card__info-list {
    margin-bottom: 33px;
    font-size: 16px;
    line-height: 1;
  }
}

.product-card__button {
  grid-column: 1/-1;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .product-card__button {
    width: 100%;
  }
}

.show-all {
  max-width: 460px;
  text-align: center;
}
@media (min-width: 768px) {
  .show-all {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    min-width: 324px;
    padding: 0 37px 39px 39px;
    border: 2px solid #f2f2f2;
  }
}
@media (min-width: 1320px) {
  .show-all {
    min-width: 245px;
  }
}

.show-all__name {
  margin: 0;
  margin-bottom: 8px;
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .show-all__name {
    width: 134px;
    margin-top: 161px;
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 22px;
  }
}

.show-all__text {
  margin: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .show-all__text {
    width: 167px;
    margin-bottom: 87px;
    font-size: 16px;
    line-height: 18px;
  }
}

.show-all__button {
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .show-all__button {
    width: 100%;
  }
}

.extra-products {
  max-width: 500px;
  padding: 25px 20px 35px;
}
@media (min-width: 768px) {
  .extra-products {
    min-width: 768px;
    max-width: 950px;
    padding: 68px 30px 76px;
  }
}
@media (min-width: 1320px) {
  .extra-products {
    max-width: 1220px;
  }
}

@media (min-width: 1320px) {
  .extra-products__wrap {
    display: flex;
  }
}

.extra-products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .extra-products__list {
    margin-bottom: 69px;
  }
}
@media (min-width: 1320px) {
  .extra-products__list {
    width: 896px;
    margin-right: 79px;
    margin-bottom: 0;
  }
}

.extra-products__item {
  padding-top: 13px;
  padding-bottom: 19px;
}
@media (min-width: 768px) {
  .extra-products__item {
    padding: 26px 38px 28px;
  }
}
@media (min-width: 1320px) {
  .extra-products__item {
    padding: 15px 0 17px;
  }
}

.extra-products__title {
  margin: 0;
  margin-bottom: 36px;
  font-family: Oswald, Arial, sans-serif;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
}
@media (min-width: 768px) {
  .extra-products__title {
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 1;
  }
}

@media (min-width: 768px) {
  .extra-card {
    display: grid;
    grid-template-columns: 1fr 225px;
    border: 1px solid #cdcdcd;
  }
}
@media (min-width: 1320px) {
  .extra-card {
    grid-template-columns: auto 288px 244px;
    align-items: center;
    border-left: none;
    border-right: none;
  }
}

.extra-card:not(:last-child) {
  border-bottom: none;
}

.extra-card__name {
  margin: 0;
  margin-bottom: 13px;
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .extra-card__name {
    font-size: 20px;
  }
}
@media (min-width: 1320px) {
  .extra-card__name {
    margin-bottom: 0;
  }
}

.extra-card__list {
  margin: 0;
  margin-bottom: 15px;
}
@media (min-width: 1320px) {
  .extra-card__list {
    margin-bottom: 0;
  }
}

.extra-card__definition {
  margin: 0;
  line-height: 1;
  color: #444444;
}

.extra-card__button {
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .extra-card__button {
    grid-column: 1/3;
  }
}
@media (min-width: 1320px) {
  .extra-card__button {
    grid-column: 3/4;
  }
}

.offer {
  padding: 187px 61px 43px 58px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #68B738;
  background-image: url("../img/background/offer-bg-mobile.jpg");
}
@media (min-width: 768px) {
  .offer {
    padding: 70px 0;
  }
}
@media (min-width: 1320px) {
  .offer {
    padding: 0;
  }
}

.offer__text {
  width: 161px;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 768px) {
  .offer__text {
    margin-left: auto;
    margin-right: 124px;
  }
}
@media (min-width: 1320px) {
  .offer__text {
    margin: 184px 42px 42px;
  }
}

.form {
  padding-bottom: 32px;
}
@media (min-width: 768px) {
  .form {
    padding-bottom: 72px;
  }
}
@media (min-width: 1320px) {
  .form {
    padding-bottom: 82px;
  }
}

.form__group {
  border: none;
}
.form__group--personal {
  padding: 20px 20px 24px;
}
@media (min-width: 768px) {
  .form__group--personal {
    padding: 0;
  }
}
.form__group--program {
  margin-bottom: 26px;
  padding: 22px 20px 19px;
}
@media (min-width: 768px) {
  .form__group--program {
    margin-bottom: 0;
    padding: 25px 28px;
    border: 1px solid #e7e7e7;
  }
}
.form__group--owner-contacts, .form__group--comments {
  max-width: 540px;
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .form__group--owner-contacts, .form__group--comments {
    max-width: 630px;
    margin-bottom: 65px;
    padding: 0;
  }
}
@media (min-width: 1320px) {
  .form__group--owner-contacts, .form__group--comments {
    max-width: 1220px;
  }
}
@media (min-width: 1320px) {
  .form__group--owner-contacts .field-group__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}
.form__group--comments .field__input {
  min-height: 150px;
}
@media (min-width: 768px) {
  .form__group--comments .field__input {
    min-height: 174px;
  }
}
.form__group--additional {
  max-width: 540px;
  margin: 0 auto;
  margin-bottom: 34px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .form__group--additional {
    max-width: 630px;
    margin-bottom: 54px;
    padding: 0;
  }
}
@media (min-width: 1320px) {
  .form__group--additional {
    max-width: 1220px;
    margin-bottom: 60px;
  }
}
@media (min-width: 768px) {
  .form__group--additional .field-group__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 80px;
  }
}
@media (min-width: 1320px) {
  .form__group--additional .field-group__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.form__wrap {
  max-width: 540px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .form__wrap {
    display: grid;
    max-width: 630px;
    row-gap: 70px;
    margin: 0 auto;
    margin-bottom: 70px;
  }
}
@media (min-width: 1320px) {
  .form__wrap {
    grid-template-columns: repeat(2, 1fr);
    min-width: 1220px;
    column-gap: 80px;
  }
}

.form__button-wrap {
  display: grid;
  max-width: 540px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .form__button-wrap {
    max-width: 630px;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    align-items: center;
  }
}
@media (min-width: 1320px) {
  .form__button-wrap {
    max-width: 1220px;
    gap: 80px;
  }
}

.form__button {
  margin: 0 20px 21px;
  padding: 13px;
}
@media (min-width: 768px) {
  .form__button {
    margin: 0;
    padding: 16px;
  }
}

.form__required-text {
  margin: 0;
  line-height: 16px;
  text-align: center;
}
@media (min-width: 768px) {
  .form__required-text {
    text-align: left;
  }
}

.field-group__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.field-group__item:not(:last-child) {
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .field-group__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.field-group__heading {
  display: block;
  margin-bottom: 35px;
  font-family: Oswald, Arial, sans-serif;
  font-size: 24px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .field-group__heading {
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 1;
  }
}

.field {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 13px;
}

.field__label,
.field__input::placeholder {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
}
@media (min-width: 768px) {
  .field__label,
.field__input::placeholder {
    font-size: 20px;
    line-height: 1;
  }
}

.field__input {
  width: 100%;
  padding: 13px 14px;
}

.control__label {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #444444;
}
@media (min-width: 768px) {
  .control__label {
    font-size: 20px;
    line-height: 1;
  }
}

.page-footer {
  background-color: #f2f2f2;
}

.page-footer__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page-footer__wrap {
    flex-direction: row;
    justify-content: space-between;
    min-width: 708px;
    max-width: 1220px;
    width: 100%;
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .page-footer__logo {
    margin-bottom: 0;
  }
}

.page-footer__socials {
  margin: 20px 0;
  padding: 0;
}
@media (min-width: 768px) {
  .page-footer__socials {
    margin: 0;
  }
}

.page-footer__copyright {
  margin-top: 22px;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  max-width: 231px;
  list-style-type: none;
}
@media (min-width: 1320px) {
  .socials {
    max-width: 590px;
  }
}

.socials__link {
  display: block;
  width: 16px;
  height: 16px;
  outline: 1px solid tomato;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .copyright {
    width: 163px;
    margin-top: 0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */