@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/oswaldregular.woff2") format("woff2"), url("/fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/oswaldmedium.woff2") format("woff2"), url("/fonts/oswaldmedium.woff") format("woff");
  font-display: swap;
}
.page__body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.page__footer {
  padding: 39px 20px 22px;
}

.visually-hidden {
  position: absolute;
  transform: scale(0);
}

.page-header {
  padding: 10px 20px 17px;
}

.page-header__nav {
  width: 100%;
}

.site-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: Oswald, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.site-menu__link {
  color: #000000;
  text-decoration: none;
}

.page-main__footer--dark {
  background-color: #f2f2f2;
}

.page-main__title {
  margin: 0;
  margin-top: 27px;
  margin-left: 20px;
  margin-bottom: 41px;
  font-family: Oswald, Arial, sans-serif;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
}

.page-main__subtitle {
  margin: 0 20px 20px;
  font-family: Oswald, Arial, sans-serif;
  text-transform: uppercase;
}

.page-main__heading {
  margin: 0;
  margin-bottom: 40px;
  font-family: Oswald, Arial, sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.promo {
  font-family: Oswald, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.promo__wrap {
  height: 302px;
  margin-bottom: 138px;
  padding-top: 27px;
  background-color: #7ec157;
  background-image: url("../img/background/promo-bg-light.jpg");
}

.promo__heading {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 36px;
}

.promo__text {
  margin: 0;
  margin-bottom: 29px;
  font-size: 14px;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  padding: 6px;
  border: none;
  font-family: Oswald, Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #68B738;
}

.catalog-sections {
  padding: 20px;
}

.catalog-sections__block {
  padding: 21px 22px 18px;
}

.catalog-sections__block:not(:last-child) {
  margin-bottom: 20px;
}

.catalog-block {
  background-color: #f2f2f2;
}

.catalog-block__heading {
  margin: 0;
  margin-bottom: 29px;
  font-family: Oswald, Arial, sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog-block__text {
  margin-bottom: 15px;
  padding-bottom: 23px;
}

.catalog-block__link {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #000000;
}

.process {
  padding: 0 20px 20px;
}

.process__list {
  margin: 0;
  padding: 0;
  padding-bottom: 9px;
  color: #444444;
  list-style-type: none;
}

.process__item {
  margin-bottom: 20px;
  padding-left: 80px;
}

.example {
  padding: 25px 20px 40px;
  background-color: #f2f2f2;
}

.example__text {
  margin: 0;
  margin-bottom: 20px;
}

.example__list {
  margin: 0;
  margin-bottom: 20px;
}

.example__number {
  font-family: Oswald, Arial, sans-serif;
  font-size: 24px;
  line-height: 1;
}

.example__desc {
  margin: 0;
  font-size: 12px;
  line-height: 1;
}

.example__cost {
  font-family: Oswald, Arial, sans-serif;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts p {
  margin: 0;
}

.contacts__wrap {
  padding: 26px 20px;
}

.contacts__heading {
  font-family: Oswald, Arial, sans-serif;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  font-style: normal;
}

.contacts__img {
  display: block;
}

.products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.products__item {
  padding: 20px;
  padding-bottom: 25px;
}

.product-card__name {
  margin: 0;
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}

.product-card__info-list {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.show-all {
  text-align: center;
}

.show-all__name {
  margin: 0;
  margin-bottom: 8px;
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.show-all__text {
  margin: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.show-all__button {
  color: #444444;
  background-color: #f2f2f2;
}

.extra-products {
  padding: 25px 20px 35px;
}

.extra-products__title {
  margin: 0;
  margin-bottom: 36px;
  font-family: Oswald, Arial, sans-serif;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
}

.extra-products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.extra-products__item {
  padding-top: 13px;
  padding-bottom: 19px;
}

.extra-card__name {
  margin: 0;
  margin-bottom: 13px;
  font-family: Oswald, Arial, sans-serif;
  font-family: 16px;
  line-height: 1;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}

.extra-card__list {
  margin: 0;
  margin-bottom: 15px;
}

.extra-card__definition {
  margin: 0;
  line-height: 1;
  color: #444444;
}

.extra-products__offer {
  padding-top: 35px;
}

.offer {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.offer__text {
  height: 289px;
  margin: 0;
  background-color: #68B738;
  background-image: url("../img/background/offer-bg-mobile.jpg");
}

.form {
  padding-bottom: 32px;
}

.form__group {
  padding: 0;
  border: none;
}
.form__group--personal {
  padding: 20px 20px 24px;
}
.form__group--program {
  margin-bottom: 26px;
  padding: 22px 20px 19px;
}
.form__group--owner-contacts {
  margin-bottom: 24px;
  padding: 0 20px;
}
.form__group--comments {
  margin-bottom: 23px;
  padding: 0 20px;
}
.form__group--additional {
  margin-bottom: 34px;
  padding: 0 20px;
}

.form__button {
  margin: 0 20px 21px;
}

.form__required-text {
  margin: 0;
  line-height: 16px;
  text-align: center;
}

.field-group__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.field-group__heading {
  display: block;
  margin-bottom: 35px;
  font-family: Oswald, Arial, sans-serif;
  font-size: 24px;
  line-height: 26px;
}

.field__label,
.field__input::placeholder {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #444444;
}

.field__input {
  padding: 13px 16px;
}

.control__label {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #444444;
}

.page-footer {
  background-color: #f2f2f2;
}

.page-footer__logo {
  display: block;
  margin-bottom: 32px;
}

.page-footer__socials {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
}

.socials {
  padding: 20px 0;
  list-style-type: none;
}

.socials__link {
  display: block;
  width: 16px;
  height: 16px;
  outline: 1px solid tomato;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */