@import "global/fonts.scss";
@import "global/variables.scss";

@import "blocks/page.scss";
@import "blocks/visually-hidden.scss";

@import "blocks/page-header.scss";
@import "blocks/logo.scss";
@import "blocks/site-menu.scss";

@import "blocks/page-main.scss";
@import "blocks/promo.scss";
@import "blocks/button.scss";

@import "blocks/catalog-sections.scss";
@import "blocks/catalog-block.scss";
@import "blocks/process.scss";
@import "blocks/example.scss";
@import "blocks/switcher.scss";
@import "blocks/contacts.scss";

@import "blocks/products.scss";
@import "blocks/product-card.scss";
@import "blocks/show-all.scss";

@import "blocks/extra-products.scss";
@import "blocks/extra-card.scss";
@import "blocks/offer.scss";

@import "blocks/form.scss";
@import "blocks/field-group.scss";
@import "blocks/field.scss";
@import "blocks/control.scss";

@import "blocks/page-footer.scss";
@import "blocks/socials.scss";
@import "blocks/copyright.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}
